@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Oswald:400,500,600,700&display=swap'); /* Adds fonts */

/*--------------------------------------------------------- Body*/

body {
    position: relative;
    min-height: 100vh;
    background-color: #343a40;
    color: #fafafa86;
    padding-bottom: 2rem; /* Footer position */
    letter-spacing: 0.25rem;
}

/*--------------------------------------------------------- Header*/


/*--------------------------------------------------------- Section*/

.section-spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*--------------------------------------------------------- Jumbotron*/

.jumbotron {
    color: red;
    background-image: url("../images/woman-mountain-sunrise.jpeg");
    background-size: cover;
    filter: sepia(25%);
}

/*--------------------------------------------------------- Heading*/

.heading-center {
    text-align: center;
}

.heading-style-uppercase {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

/*--------------------------------------------------------- Paragraph*/

p {
    font-family: 'Lato', sans-serif;
}

/*--------------------------------------------------------- Footer*/

#footer {
    position: absolute; /* Keeps footer below all content */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fafafa86;
    text-align: center;
}

.anchor-styling {
    padding: 0.5em; /* Creates spacing between social media links */
    color: #fafafa86;
}