@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Oswald:400,500,600,700&display=swap'); /* Adds fonts */

/*--------------------------------------------------------- Body*/

body {
    position: relative;
    min-height: 100vh;
    background-color: #343a40;
    color: #fafafa86;
    padding-bottom: 2rem; /* Footer position */
    letter-spacing: 0.25rem;
}

/*--------------------------------------------------------- Header*/


/*--------------------------------------------------------- Section*/

.section-spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.address-padding {
    padding-left: 1rem;
}

.center-text {
    text-align: center;
}

/*--------------------------------------------------------- Jumbotron*/

.jumbotron {
    color: #da2d2d;
    background-image: url("../images/dice.jpg");
    background-size: cover;
    height: 80vh;
} /* Ensures correct display of jumbotron image */

/*--------------------------------------------------------- Heading*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

.heading-center {
    text-align: center;
}

.heading-style-uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------------------- Paragraph*/

p {
    font-family: 'Oswald', sans-serif;
    margin-left: 1rem;
}

/*--------------------------------------------------------- Address*/

address {
    font-family: 'Lato', sans-serif;
}

.address-anchor-styling {
    text-decoration: none;
    color: #fafafa86;
}

/*--------------------------------------------------------- Anchor*/

a:hover {
    color: #da2d2d;
    text-decoration: none;
}

/*--------------------------------------------------------- Footer*/

#footer {
    position: absolute; /* Keeps footer below all content */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fafafa86;
    text-align: center;
}

.anchor-styling {
    padding: 0.5em; /* Creates spacing between social media links */
    color: #fafafa86;
}

/*--------------------------------------------------------- Media Queries*/