/*--------------------------------------------------------- Body*/

body {
    position: relative;
    min-height: 100vh;
    background-color: #343a40;
    color: #fafafa86;
    padding-bottom: 2rem; /* Footer position */
    letter-spacing: 0.25rem;
}

/*--------------------------------------------------------- Header*/

/*--------------------------------------------------------- Section*/

.heading-center {
    text-align: center;
}

article > p {
    margin: 1rem;
}

/*--------------------------------------------------------- Jumbotron*/

.jumbotron {
    color: red;
    background-image: url("../images/woman-mountain-sunrise.jpeg");
    background-size: cover;
    filter: sepia(25%);
}

/*--------------------------------------------------------- Heading*/

.heading-style-uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------------------- Footer*/

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fafafa86;
    text-align: center;
}

.anchor-styling {
    padding: 0.5em;
    color: #fafafa86;
}